<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de Ordens de Serviços</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
<link rel="icon" href="img/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
        		<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
					    	<li><a href="usuarios.html">Usuários</a></li>
					      	<li class="active"><a href="ordensdeservico.html">Ordens de Serviços</a></li>
					      	<li><a href="recursos.html">Recursos</a></li>
					    </ul>
					</div>
				</nav>
            <div class="table-title">
                <div class="row align-items-center">
                	<div class="col-sm-3">
                		<img src="img/logo.png">
                    </div>
                    <div class="col-sm-4">
						<h2>Ordens de Serviços</b></h2>
					</div>
					<div class="col-sm-9">
						<button href="#logout" type="button" class="btn btn-danger" data-toggle="modal">Sair</button>
						<a href="#addOrdemDeServicoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i><span>Adicionar Ordem de Serviço</span></a>
					</div>
                </div>
            </div>
           <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data Abertura</th>
                        <th>Data Fechamento</th>
                        <th>Descrição</th>
                        <th>Registro Fotografico</th>
                        <th>Local</th>
                        <th>Contratista</th>
						<th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="os:${ordemDeServico}">
						<td th:text="${os.id}"></td>
						<td th:text="${os.dataAbertura}"></td>
						<td th:text="${os.dataFechamento}"></td>
						<td th:text="${os.descricao}"></td>
						<td th:text="${os.registroFotografico}"><button type="button" class="btn btn-default glyphicon glyphicon-camera" > Registros</button></td>
						<td th:text="${os.local}"></td>
						<td th:text="${os.contratista}"></td>
						<td th:text="${os.status}"></td>
						<td>
                            <a href="#editaOrdemDeServicoModal" class="edit" th:href="@{/ordemDeServico/alterarOrdemDeServico/{id}(id=${os.id})}" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#deletaOrdemDeServicoModal" class="delete" data-toggle="modal"><i class="material-icons" th:href="@{/ordemDeServico/excluirOrdemDeServico/{id}(id=${os.id})}" data-toggle="tooltip" title="Deletar">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div id="addOrdemDeServicoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${ordemDeServico}" th:action="@{/ordemDeServico/salvarOrdemDeServico}">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar Ordem de Serviço</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Data Abertura</label>
							<input type="data-toggle" class="form-control" th:field="*{dataAbertura}" autofocus="autofocus" placeholder="xx/xx/xxxx" required>
						</div>
						<div class="form-group">
							<label>Data Fechamento</label>
							<input type="text" class="form-control" th:field="*{dataFechamento}" autofocus="autofocus" placeholder="xx/xx/xxxx" required>
						</div>
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" class="form-control" th:field="*{descricao}" autofocus="autofocus" placeholder="Serviço Realizado" required>
						</div>
						<div class="form-group">
							<label>Registro Fotográfico</label>
							<input type="file"
					       	id="registroFoto" name="registroFoto"
					       	accept="image/png, image/jpeg">
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" th:field="*{local}" autofocus="autofocus" placeholder="Localização do serviço" required>
						</div>
						<div class="form-group">
							<label>Contratista</label>
							<input type="text" class="form-control" th:field="*{contratista}" autofocus="autofocus" placeholder="Nome da Empresa" required>
						</div>
						<div class="form-group">
							<label>Status</label> <select class="form-control" th:field="*{status}" autofocus="autofocus" id="select" required>
						    	<option>Em andamento</option>
						    	<option>Finalizado</option>
						    </select>	
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editaOrdemDeServicoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form  th:object="${ordemdeServico}" th:action="@{/ordemdeServico/alterarOrdemDeServico">
					<div class="modal-header">
						<h4 class="modal-title">Editar Ordem de Serviço</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Data Abertura</label>
							<input type="data-toggle" class="form-control" th:field="*{dataAbertura}" autofocus="autofocus" placeholder="xx/xx/xxxx" required>
						</div>
						<div class="form-group">
							<label>Data Fechamento</label>
							<input type="text" class="form-control" th:field="*{dataFechamento}" autofocus="autofocus" placeholder="xx/xx/xxxx" required>
						</div>
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" class="form-control" th:field="*{descricao}" autofocus="autofocus" placeholder="Serviço Realizado" required>
						</div>
						<div class="form-group">
							<label>Registro Fotográfico</label>
							<input type="file"
					       	id="registroFoto" name="registroFoto"
					       	accept="image/png, image/jpeg">
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" th:field="*{local}" autofocus="autofocus" placeholder="Localização do serviço" required>
						</div>
						<div class="form-group">
							<label>Contratista</label>
							<input type="text" class="form-control" th:field="*{contratista}" autofocus="autofocus" placeholder="Nome da Empresa" required>
						</div>
						<div class="form-group">
							<label>Status</label> <select name="Status"class="form-control" th:field="*{status}" autofocus="autofocus" id="select" required>
						      	<option>Em andamento</option>
						      	<option>Finalizado</option>
						    </select>	
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Salvar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deletaOrdemDeServicoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:href="@{/ordemDeServico/excluirOrdemDeServico/{id}(id=${ordemDeServico.id})}">
					<div class="modal-header">
						<h4 class="modal-title">Deletar Ordem de Serviço</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja deletar a ordem de serviço?</p>
						<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="logout" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Sair</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja sair?</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Sim">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>