<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de Recursos</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
<link rel="icon" href="img/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="js/javascript.js"></script>
</script>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
        	<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
					    	<li><a href="usuarios.html">Usuários</a></li>
					      	<li><a href="ordensdeservico.html">Ordens de Serviços</a></li>
					      	<li class="active"><a href="recursos.html">Recursos</a></li>
					    </ul>
					</div>
				</nav>
            <div class="table-title">
                <div class="row align-items-center">
                	<div class="col-sm-3">
                		<img src="img/logo.png">
                    </div>
                    <div class="col-sm-4">
						<h2>Recursos</b></h2>
					</div>
					<div class="col-sm-9">
							<button href="#logout" type="button" class="btn btn-danger" data-toggle="modal">Sair</button>
						<a href="#addRecursoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar Recurso</span></a>	
					</div>
                </div>
            </div>
            <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rec:${recurso}">
						<td th:text="${rec.id}"></td>
						<td th:text="${rec.nome}"></td>
						<td th:text="${rec.tipo}"></td>
						<td>
							<a href="#editaRecursoModal" class="edit" th:href="@{/recurso/alterarRecurso/{id}(id=${os.id})}" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#deletaRecursoModal" class="delete" data-toggle="modal"><i class="material-icons" th:href="@{/recurso/excluirRecurso/{id}(id=${rec.id})}" data-toggle="tooltip" title="Deletar">&#xE872;</i></a>
						</td>
					</tr>	
                </tbody>
            </table>
        </div>
    </div>
	<div id="addRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${recurso}" th:action="@{/recurso/salvarRecurso}">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Tipo</label>
							<input type="text" class="form-control" th:field="*{tipo}" autofocus="autofocus" placeholder="Tipo" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editaRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${recurso}" th:action="@{/recurso/alterarRecurso}">
					<div class="modal-header">
						<h4 class="modal-title">Editar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{is}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Tipo</label>
							<input type="text" class="form-control" th:field="*{tipo}" autofocus="autofocus" placeholder="Tipo" required>
						</div>			
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Salvar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deletaRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Deletar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja deletar o recurso?</p>
						<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" th:href="@{/recurso/excluirRecurso/{id}(id=${recusro.id})}" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="logout" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Sair</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja sair?</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Sim">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>