<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de Usuários</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
<link rel="icon" href="img/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
    <div class="container">
    	<div class="row align-items-center">
    	  <div class="table-wrapper">
    	  		<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
					    	<li  class="active"><a href="usuarios.html">Usuários</a></li>
					      	<li><a href="ordensdeservico.html">Ordens de Serviços</a></li>
					      	<li><a href="recursos.html">Recursos</a></li>
					    </ul>
					</div>
				</nav>
            <div class="table-title">
                <div class="row align-items-center">
                	<div class="col-sm-3">
                		<img src="img/logo.png">
                    </div>
                    <div class="col-sm-4">
						<h2>Usuários</b></h2>
					</div>
					<div class="col-sm-9">
						<button href="#logout" type="button" class="btn btn-danger" data-toggle="modal">Sair</button>
						<a href="#addUsuarioModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar Usuário</span></a>
					</div>
                </div>
            </div>
            <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
						<th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usu:${usuario}">
						<td th:text="${usu.id}"></td>
						<td th:text="${usu.nome}"></td>
						<td th:text="${usu.sobrenome}"></td>
						<td th:text="${usu.telefone}"></td>
						<td th:text="${usu.status}"></td>
						<td>
                            <a href="#editaUsuarioModal" class="edit" th:href="@{/usuario/alterarUsuario/{id}(id=${usu.id})}"  data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#deletaUsuarioModal" class="delete" th:href="@{/usuario/excluirUsuario/{id}(id=${usu.id})}" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div id="addUsuarioModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${usuario}" th:action="@{/usuario/salvarUsuario}" method="POST">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar Usuário</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">				
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Sobrenome</label>
							<input type="text" class="form-control" th:field="*{sobrenome}" autofocus="autofocus" placeholder="Sobrenome" required>
						</div>
						<div class="form-group">
							<label>Telefone</label>
							<input type="text" class="form-control" th:field="*{telfone}" autofocus="autofocus" placeholder="xx-xxxxx-xxxx" required>
						</div>
						<div class="form-group">
							<label>Status</label> <select class="form-control" th:field="*{status}" autofocus="autofocus" id="						exampleFormControlSelect1" required>
						    	<option>Operador de Mapas</option>
						    	<option>Técnico de Campo</option>
						    	<option>Supervisor</option>
						    	<option>Gerente</option>
						    </select>	
						</div>					
					</div>
					<div class="modal-footer">
						<input th:href="@{/usuario/listarUsuario}" type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editaUsuarioModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${usuario}" th:action="@{/usuario/alterarUsuario}" method="POST">
					<div class="modal-header">
						<h4 class="modal-title">Editar Usuário</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Sobrenome</label>
							<input type="text" class="form-control" th:field="*{sobrenome}" autofocus="autofocus" placeholder="Sobrenome" required>
						</div>
						<div class="form-group">
							<label>Telefone</label>
							<input type="text" class="form-control" th:field="*{telefone}" autofocus="autofocus" placeholder="xx-xxxxx-xxxx" required>
						</div>
						<div class="form-group">
							<label>Status</label> <select name="Status"class="form-control" th:field="*{status}" autofocus="autofocus" id="select" required>
						    	<option>Operador de Mapas</option>
						      	<option>Técnico de Campo</option>
						      	<option>Supervisor</option>
						      	<option>Gerente</option>
						    </select>	
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/usuario/listarUsuario}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Salvar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deletaUsuarioModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:href="@{/usuario/excluirUsuario/{id}(id=${usuario.id})}" method="POST">
					<div class="modal-header">						
						<h4 class="modal-title">Deletar Usuário</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja deletar o usuário?</p>
						<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/usuario/listarUsuario}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="logout" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Sair</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja sair?</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Sim">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>