<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cidades</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Cidades - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{cityBean.cities}" var="city" rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgCity').show();"
						actionListener="#{cityBean.news}" update=":msg :formCad:panel ">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Nome" sortBy="#{city.name}"
					filterBy="#{city.name}">
					<h:outputText value="#{city.name}" />
				</p:column>

				<p:column headerText="Estado" sortBy="#{city.state.name}"
					filterBy="#{city.state.name}">
					<h:outputText value="#{city.state.name}" />
					<h:outputText value=" - " />
					<h:outputText value="#{city.state.initials}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{cityBean.edit}"
						oncomplete="PF('dlgCity').show();"
						update=":msg :formCad:panel :formList:panelList">
						<f:attribute name="selectedCity" value="#{city}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{cityBean.delete}"
						update=":msg :formList:panelList">
						<p:confirm header="Confirmação" message="Deseja excluir a cidade?"
							icon="ui-icon-alert" />
						<f:attribute name="selectedCity" value="#{city}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Cidades - Cadastro" widgetVar="dlgCity"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="10" value="#{cityBean.city.name}"
					required="true" requiredMessage="O campo nome é obrigatório" />

				<p:outputLabel value="Estado:" />
				<p:selectOneMenu filter="true" value="#{cityBean.city.state}"
					converter="omnifaces.SelectItemsConverter" required="true"
					requiredMessage="O campo estado é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um estado" />
					<f:selectItems value="#{cityBean.states}" var="state"
						itemValue="#{state}" itemLabel="#{state.name} - #{state.initials}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{cityBean.save}"
					oncomplete="PF('dlgCity').hide();"
					update=":msg :formList:panelList" />
				<p:commandButton value="Cancelar" oncomplete="PF('dlgCity').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>