<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Clientes</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Clientes - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{clientBean.clients}" var="client" rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgClient').show();"
						actionListener="#{clientBean.news}" update=":msg :formCad:panel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Nome" sortBy="#{client.person.name}"
					filterBy="#{client.person.name}">
					<h:outputText value="#{client.person.name}" />
				</p:column>

				<p:column headerText="Data de Cadastro"
					sortBy="#{client.registrationDate}"
					filterBy="#{client.registrationDate}">
					<h:outputText value="#{client.registrationDate}" />
				</p:column>

				<p:column headerText="Liberado" sortBy="#{client.released}"
					filterBy="#{client.released}">
					<h:outputText value="#{client.released}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{clientBean.edit}"
						oncomplete="PF('dlgClient').show()"
						update=":msg :formCad:panel :formList:panelList">
						<f:attribute name="selectedClient" value="#{client}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{clientBean.delete}"
						update=":msg :formList:panelList">
						<p:confirm header="Confirmação"
							message="Deseja excluir o cliente?" icon="ui-icon-alert" />
						<f:attribute name="selectedClient" value="#{client}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Clientes - Cadastro" widgetVar="dlgClient"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Pessoa:" />
				<p:selectOneMenu filter="true" value="#{clientBean.client.person}"
					converter="omnifaces.SelectItemsConverter" required="true"
					requiredMessage="O campo pessoa é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma pessoa" />
					<f:selectItems value="#{clientBean.persons}" var="person"
						itemValue="#{person}" itemLabel="#{person.name}" />
				</p:selectOneMenu>

				<p:outputLabel value="Data do cadastro:" />
				<p:calendar size="18" value="#{clientBean.client.registrationDate}"
					required="true"
					requiredMessage="O campo Data do cadastro é obrigatório"
					converterMessage="Informe um formato de data válido para o campo 'Data do cadastro'" />

				<p:outputLabel value="Ativo:" />
				<p:selectBooleanCheckbox value="#{clientBean.client.released}"
					required="true" requiredMessage="O campo ativo é obrigatório" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{clientBean.save}"
					oncomplete="PF('dlgClient').hide();"
					update=":msg :formList:panelList" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgClient').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>