<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Funcionários</title>
</h:head>
<h:body>
	<h:form>
		<p:panel header="Funcionários - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado."
				paginator="true">
				<f:facet name="header">
					<p:commandButton value="Novo"
						oncomplete="PF('dlgEmployee').show();" />
				</f:facet>

				<p:column headerText="Nome">
				</p:column>

				<p:column headerText="Carteira de Trabalho">
				</p:column>

				<p:column headerText="Data de Admissão">
				</p:column>

				<p:column headerText="Opções">
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Funcionários - Cadastro" widgetVar="dlgEmployee"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form>
			<h:panelGrid columns="2">
				<p:outputLabel value="Pessoa:" />
				<p:selectOneMenu filter="true">
					<f:selectItem itemValue="" itemLabel="Selecione uma pessoa" />
				</p:selectOneMenu>

				<p:outputLabel value="Carteira de Trabalho:" />
				<p:inputText maxlength="" size="18" />

				<p:outputLabel value="Data de Admissão:" />
				<p:calendar size="18" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgEmployee').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>