<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Itens</title>
</h:head>
<h:body>
	<h:form>
		<p:panel header="Itens à Venda - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado."
				paginator="true">
				<f:facet name="header">
					<p:commandButton value="Novo"
						oncomplete="PF('dlgItemForSale').show();" />
				</f:facet>

				<p:column headerText="Quantidade">
				</p:column>

				<p:column headerText="Preço de Custo">
				</p:column>

				<p:column headerText="Produto">
				</p:column>

				<p:column headerText="Funcionário">
				</p:column>

				<p:column headerText="Opções">
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Itens à Venda - Cadastro" widgetVar="dlgItemForSale"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form>
			<h:panelGrid columns="2">
				<p:outputLabel value="Produto:" />
				<p:selectOneMenu filter="true">
					<f:selectItem itemValue="" itemLabel="Selecione um produto   " />
				</p:selectOneMenu>

				<p:outputLabel value="Funcionário:" />
				<p:selectOneMenu filter="true">
					<f:selectItem itemValue="" itemLabel="Selecione um funcionário" />
				</p:selectOneMenu>

				<p:outputLabel value="Quantidade:" />
				<p:inputText size="18" />

				<p:outputLabel value="Preço:" />
				<p:inputText maxlength="7" size="18" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgItemForSale').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>