<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fabricantes</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Fabricantes - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{manufacturerBean.manufacturers}" var="manufacturer"
				rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgManufac').show();"
						actionListener="#{manufacturerBean.news}"
						update=":msg :formCad:panel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Descrição"
					sortBy="#{manufacturer.description}"
					filterBy="#{manufacturer.description}">
					<h:outputText value="#{manufacturer.description}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{manufacturerBean.edit}"
						oncomplete="PF('dlgManufac').show();" update=":msg :formCad:panel">
						<f:attribute name="selectedManufacturer" value="#{manufacturer}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{manufacturerBean.delete}"
						update=":msg :formList:panelList">
						<p:confirm header="Confirmação"
							message="Deseja excluir o fabricante?" icon="ui-icon-alert" />
						<f:attribute name="selectedManufacturer" value="#{manufacturer}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Fabricantes - Cadastro" widgetVar="dlgManufac"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Descrição:" />
				<p:inputText maxlength="80" size="50"
					value="#{manufacturerBean.manufacturer.description}"
					required="true" requiredMessage="O campo fabricante é obrigatório" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar"
					actionListener="#{manufacturerBean.save}"
					oncomplete="PF('dlgManufac').hide();"
					update=":msg :formList:panelList" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgManufac').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>