<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pessoas</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Pessoas - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado."
				value="#{personBean.persons}" var="person" paginator="true"
				rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgPerson').show();"
						update=":msg :formCad:panel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Nome" sortBy="#{person.name}"
					filterBy="#{person.name}">
					<h:outputText value="#{person.name}" />
				</p:column>

				<p:column headerText="RG" sortBy="#{person.rg}"
					filterBy="#{person.rg}">
					<h:outputText value="#{person.rg}" />
				</p:column>

				<p:column headerText="CPF" sortBy="#{person.cpf}"
					filterBy="#{person.cpf}">
					<h:outputText value="#{person.cpf}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{personBean.edit}"
						oncomplete="PF('dlgPerson').show();" update=":msg :formCad:panel">
						<f:attribute name="selectedPerson" value="#{person}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{personBean.delete}" update=":msg formList:panelList">
						<p:confirm header="Confirmação"
							message="Deseja excluir a pessoa" icon="ui-icon-alert" />
						<f:attribute name="selectedPerson" value="#{person}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Pessoas - Cadastro" widgetVar="dlgPerson"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="18" />

				<p:outputLabel value="CPF:" />
				<p:inputText maxlength="14" size="18" />

				<p:outputLabel value="RG:" />
				<p:inputText maxlength="12" size="18" />

				<p:outputLabel value="Endereço:" />
				<p:inputText maxlength="100" size="18" />

				<p:outputLabel value="Numero:" />
				<p:inputText maxlength="7" size="18" />

				<p:outputLabel value="Complemento:" />
				<p:inputText maxlength="10" size="18" />

				<p:outputLabel value="Bairro:" />
				<p:inputText maxlength="30" size="18" />

				<p:outputLabel value="Estado:" />
				<p:selectOneMenu id="select" filter="true"
					value="#{personBean.person.state}"
					converter="omnifaces.SelectItemsConverter" required="true"
					requiredMessage="O campo estado é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um Estado" />
					<f:selectItems value="#{personBean.states}" var="state"
						itemValue="#{state}" itemLabel="#{state.name} - #{state.initials}" />
				</p:selectOneMenu>

				<p:outputLabel value="Cidade:" />
				<p:selectOneMenu filter="true"
					value="#{personBean.person.city}"
					converter="omnifaces.SelectItemsConverter" required="true"
					requiredMessage="O campo cidade é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma Cidade" />
					<f:selectItems value="#{personBean.cities}" var="city"
						itemValue="#{city}"
						itemLabel="#{city.name} - #{city.state.initials}" />
				</p:selectOneMenu>

				<p:outputLabel value="CEP:" />
				<p:inputText maxlength="10" size="18" />

				<p:outputLabel value="Telefone:" />
				<p:inputText maxlength="13" size="18" />

				<p:outputLabel value="Celular:" />
				<p:inputText maxlength="14" size="18" />

				<p:outputLabel value="E-mail:" />
				<p:inputText maxlength="100" size="18" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{personBean.save}"
					oncomplete="PF('dlgPerson').hide();"  update=":msg :formList:panelList"/>
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgPerson').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>