<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Produtos</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Produtos - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{productBean.products}" var="product" rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgProduct').show();"
						actionListener="#{productBean.news}" update=":msg :formCad:panel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Fabricante"
					sortBy="#{product.manufacturer.description}"
					filterBy="#{product.manufacturer.description}">
					<h:outputText value="#{product.manufacturer.description}" />
				</p:column>

				<p:column headerText="Descrição" sortBy="#{product.description}"
					filterBy="#{product.description}">
					<h:outputText value="#{product.description}" />
				</p:column>

				<p:column headerText="Quantidade" sortBy="#{product.quantity}"
					filterBy="#{product.quantity}">
					<h:outputText value="#{product.quantity}" />
				</p:column>

				<p:column headerText="Preço" sortBy="#{product.price}"
					filterBy="#{product.price}">
					<h:outputText value="#{product.price}">
						<f:convertNumber locale="pt-br" minFractionDigits="2" />
					</h:outputText>
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{productBean.edit}"
						oncomplete="PF('dlgProduct').show();" update=":msg :formCad:panel">
						<f:attribute name="selectedProduct" value="#{product}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{productBean.delete}"
						update=":msg :formList:panelList">
						<p:confirm header="Confirmação"
							message="Deseja excluir o produto?" icon="ui-icon-alert" />
						<f:attribute name="selectedProduct" value="#{product}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Produtos - Cadastro" widgetVar="dlgProduct"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Fabricante:" />
				<p:selectOneMenu id="select" filter="true"
					value="#{productBean.product.manufacturer}"
					converter="omnifaces.SelectItemsConverter" required="true"
					requiredMessage="O campo fabricante é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um fabricante" />
					<f:selectItems value="#{productBean.manufactures}"
						var="manufacturer" itemValue="#{manufacturer}"
						itemLabel="#{manufacturer.description}" />
				</p:selectOneMenu>

				<p:outputLabel value="Descrição:" />
				<p:inputText maxlength="50" size="12"
					value="#{productBean.product.description}" required="true"
					requiredMessage="O campo descrição é obrigatório" />

				<p:outputLabel value="Quantidade:" />
				<p:inputText maxlength="5" size="12"
					value="#{productBean.product.quantity}" required="true"
					requiredMessage="O campo quantidade é obrigatório"
					converterMessage="Informe um valor válido para o campo 'Quantidade'"
					validatorMessage="Informe um valor entre 0 e 100 para o campo 'Quantidade'">
					<f:validateLongRange minimum="0" maximum="100" />
				</p:inputText>

				<p:outputLabel value="Preço:" />
				<p:inputText maxlength="7" size="12"
					value="#{productBean.product.price}" required="true"
					requiredMessage="O campo preço é obrigatório"
					converterMessage="Informe um valor válido para o campo 'Preço'"
					validatorMessage="Informe um valor entre 0.01 e 9.999,99 para o campo 'Preço'">
					<f:validateDoubleRange minimum="0.01" maximum="9999.99" />
					<f:convertNumber locale="pt-br" minFractionDigits="2" />
				</p:inputText>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{productBean.save}"
					oncomplete="PF('dlgProduct').hide();"
					update=":msg :formList:panelList" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgProduct').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>