<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vendas</title>
</h:head>
<h:body>
	<h:form>
		<p:panel header="Vendas - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado."
				paginator="true">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgSale').show();" />
				</f:facet>

				<p:column headerText="Cliente">
				</p:column>

				<p:column headerText="Funcionário">
				</p:column>

				<p:column headerText="Preço Total">
				</p:column>

				<p:column headerText="Horário">
				</p:column>

				<p:column headerText="Opções">
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Vendas - Cadastro" widgetVar="dlgSale"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form>
			<h:panelGrid columns="2">
				<p:outputLabel value="Cliente" />
				<p:selectOneMenu filter="true">
					<f:selectItem itemValue="" itemLabel="Selecione um cliente" />
				</p:selectOneMenu>

				<p:outputLabel value="Funcionário:" />
				<p:selectOneMenu filter="true">
					<f:selectItem itemValue="" itemLabel="Selecione um funcionário" />
				</p:selectOneMenu>

				<p:outputLabel value="Preço Total" />
				<p:inputText size="18" />

				<p:outputLabel value="Horario:" />
				<p:calendar size="18" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" />
				<p:commandButton value="Cancelar" oncomplete="PF('dlgSale').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>