<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Estados</title>
</h:head>
<h:body>
	<p:growl id="msg" />
	<h:form id="formList">
		<p:panel header="Estados - Listagem">
			<p:dataTable id="panelList"
				emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{stateBean.states}" var="state" rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dlgState').show();"
						actionListener="#{stateBean.news}" update=":msg formCad:panel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>
				<p:column headerText="Nome" sortBy="#{state.name}"
					filterBy="#{state.name}">
					<h:outputText value="#{state.name}" />
				</p:column>

				<p:column headerText="Sigla" sortBy="#{state.initials}"
					filterBy="#{state.initials}">
					<h:outputText value="#{state.initials}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{stateBean.edit}"
						oncomplete="PF('dlgState').show();" update=":msg :formCad:panel">
						<f:attribute name="selectedState" value="#{state}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{stateBean.delete}"
						update=":msg :formList:panelList">
						<p:confirm header="Confirmação" message="Deseja excluir o estado?"
							icon="ui-icon-alert" />
						<f:attribute name="selectedState" value="#{state}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:confirmDialog global="true" closable="false" showEffect="fade"
				hideEffect="fade">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	<p:dialog header="Estados - Cadastro" widgetVar="dlgState"
		draggable="false" resizable="false" modal="true" closable="false"
		showEffect="fade" hideEffect="fade">
		<h:form id="formCad">
			<h:panelGrid id="panel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="30"
					value="#{stateBean.state.name}" required="true"
					requiredMessage="O campo nome é obrigatório" />

				<p:outputLabel value="Sigla:" />
				<p:inputText maxlength="2" size="10"
					value="#{stateBean.state.initials}" required="true"
					requiredMessage="O campo sigla é obrigatório" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{stateBean.save}"
					oncomplete="PF('dlgState').hide();"
					update=":msg :formList:panelList" />
				<p:commandButton value="Cancelar"
					oncomplete="PF('dlgState').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>